{% extends "layout.html" %}
{% block body %}

	<main>
		<!-- Search form -->
		<form action="/" method="GET">
	        <input autocomplete="off" autofocus name="q" placeholder="Enter a Player's Name" type="text" maxlength="25">
	        <input type="submit" value="Search">
		</form>
		{%if playerNotFound %}
			<p> Your input did not match a player in our database :/ </p> 
			<p>Try searching by their last name only :) </p>	
		{% endif %}
 
		{% if words %}
		<div class="players">
			<p class="player">Similar players include:</p>
				{% for word in words %}
					<div class="player">{{ word.name }}</div>
				{% endfor %}
		</div>
        {% endif %}
	</main>

	<footer class="info">
		<p>Learn more about how the K-nearest-neighbors model works to find the 10 most similar players: <a href="#">here </a></p> 
	</footer>
{% endblock %}