{% extends "layout.html" %}
{% block body %}

	<main>
		<!-- Search form -->
		<form id="searchForm" action="/" method="GET">
	        <input id="searchInput" autocomplete="off" autofocus name="q" placeholder="Messi" type="text" maxlength="25">
	        <input type="submit" value="Search">
		</form>
		{%if playerNotFound %}
			<p> Your input did not match a player in our database :/ </p> 
			<p>Try searching by their last name only :) </p>	
		{% endif %}
 
		{% if words %}
		<div class="players">
			<p class="player">Similar players include:</p>
				{% for word in words %}
					<div class="player">
						<p>{{ word.name }}</p>
						<p class="playerInfo">Overall: {{ word.overall }} &nbsp &nbsp Pot: {{ word.potential }} &nbsp &nbsp Age: {{word.age}}</p>
						<p class="playerInfo">Club: {{word.club }} &nbsp &nbsp Nationality: {{ word.nation}}</p>
						<p> Similarity score: {{word.score}} %</p>
					</div>
				{% endfor %}
		</div>
		{% endif %}
		
		<!-- change the placeholder to the user's last search -->
		{% if lastUserSearch|length %}
			<script>
				const textInputBox = document.querySelector("#searchInput");
				textInputBox.placeholder = "{{ lastUserSearch }}";
			</script>
		{% endif %}
	</main>

	{% if words %}
	<footer class="info">
		<p>Learn more about how the Linear regression model works to find our take on {{ words[0].name }}'s Overall and Potential: <a href="#">here </a></p> 
    </footer>
    {% else %}
    <footer class="info">
		<p>Learn more about how the Linear regression model works to find our take on player Overall and Potential: <a href="#">here </a></p> 
    </footer>
    {% endif %}

{% endblock %}